{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--Links and scripts-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Easy Recipes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/97488dfb41.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Navigation-->

    <div id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <h2>Easy Recipes</h2>
                    <h2 class="logo">Cooking made easy</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'create_recipe' %}">CREATE RECIPE</a>
                        <li class="nav-item"><a class="nav-link" href="{% url 'recipe' %}">RECIPES</a>
                            {% if user.is_authenticated %}
                        <li class="nav-item active"><a class="nav-link" href="{% url 'account_logout' %}">LOGOUT</a>
                        </li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">SIGN UP</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">LOGIN</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
        <!--Footer-->
    <div>
        <footer class="bg-dark text-white pt-5 pb-4">
            <div class="row align-items-center">

                <div class="col-md-7 col-lg-8">
                    <p class="foot-logo">Copyright reserved by:<strong class="font-weight-bold text-warning"> Easy
                            Recipe&copy;</strong></p>

                </div>
                <div class="col-md-5 col-lg-4 footer">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/" target="_blank"
                                    class="btn-floating btn-sm text-white socials"><i
                                        class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/" target="_blank" 
                                    class="btn-floating btn-sm text-white socials"><i 
                                        class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/" target="_blank"
                                    class="btn-floating btn-sm text-white socials"><i
                                        class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/" target="_blank"
                                    class="btn-floating btn-sm text-white socials"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/" target="_blank"
                                    class="btn-floating btn-sm text-white socials"><i
                                        class="fab fa-youtube"></i></a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            

        </footer>
    </div>
</body>

</html>