{% extends "base.html" %}
{% load static %}


{% block content %}
<div>

  <!--Banner Image and text-->

  <div class="container-img">
    {% load static %}
    <img class="image" src="https://res.cloudinary.com/squirkey89/image/upload/v1654970186/food_cb6oue.jpg"
      alt="banner image">

    <div class="centered img-text">Welcome to Easy Recipes. You'll find simple, step-by-step recipes that you can
      make yourself.
    </div>
  </div>

  <!--About us section-->

</div>
<div class="wrapper">
  <div class="info">
    <h2 class="title text-center">WHAT WE DO?</h2>
    <div class="text-center">
      <p>We want to create a library of tasty dishes, and want to show you how easy it is to prepare
        these meals yourself.</p>
      <p>Using this website, you can discover which dishes to prepare for today, tomorrow, the rest of the
        week, and on special occasions.</p>
      <p>This website will be community-driven. Share your family recipes that your
        parents and grandparents
        taught you that will be used for generations to come. </p>
      <p>If you would like to add a recipe, just go to the sign up page and after you are signed up, you can
        add recipes.</p>
      <p>All the recipes you have created will appear on the recipe page, where you can browse them and those
        created by others.</p>
    </div>
  </div>
</div>

<!--Links showing how to use website-->

<div class="container">
  <div class="row">
    <h2 class="title text-center">HOW IT WORKS</h2>
    <ul class="image-list-small">
      <li>
        <a href="{% url 'account_signup' %}"><img
            src="https://res.cloudinary.com/squirkey89/image/upload/v1654813501/su_dtcosb.jpg" alt="sign up text"></a>
        <p class="details">Sign Up</p>
      </li>
      <li>
        <a href="{% url 'create_recipe' %}"><img
            src="https://res.cloudinary.com/squirkey89/image/upload/v1654813501/iStock-187990397-1024x686-1_btn3ss.jpg"
            alt="preparing food"></a>
        <p class="details">Create Receipe</p>
      </li>
      <li>
        <a href="{% url 'recipe' %}"><img
            src="https://res.cloudinary.com/squirkey89/image/upload/c_scale,h_2546,w_3795/v1656068196/indian-food-on-restaurant-table_i7fxe1.jpg"
            alt="table filled with recipes"></a>
        <p class="details">Recipes</p>
      </li>
    </ul>
  </div>
</div>
{% endblock content %}